<img src="${properties.tabletImage}" title="${properties.imageTitle}" alt="${properties.imageAltText}" class="img-responsive">
<!--<sly data-sly-test.isMobileImage="${properties.mobileImage}">
	<img src="${properties.mobileImage}" title="${properties.imageTitle}" alt="${properties.imageAltText}" class="img-responsive hidden-lg hidden-md hidden-sm">
</sly>
<sly data-sly-test="${!isMobileImage}">
	<img src="${properties.tabletImage}" title="${properties.imageTitle}" alt="${properties.imageAltText}" class="img-responsive hidden-lg hidden-md hidden-sm">
</sly> -->



