<sly data-sly-use.menu="com.epsilonapp.core.use.Menu"/></sly>
<p data-sly-test="${wcmmode.edit || wcmmode.design}">Configure Menu Component</p>
<div class="overlay"></div>
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
    	<li class="logo"> <a href="#" class="icon-epsilon-logo"></a></li>
		<sly data-sly-list.menuOptionBean="${menu.optionsList}">
            <sly data-sly-test=${menuOptionBean.isRedirectType}>
    			<li> 
    				<a ng-click="go('${menuOptionBean.redirectUrl}')">
    					<i class="fa fa-fw fa-bank"></i>${menuOptionBean.title}
					</a>
                </li>   
            </sly>

            <sly data-sly-test=${menuOptionBean.isChildrenDisplay}>

                  <li class="dropdown"><a ng-click="go('${menuOptionBean.redirectUrl}')" class="dropdown-toggle" data-toggle="dropdown">${menuOptionBean.title}<span class="caret pull-right"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <sly data-sly-list.childMenuOption=${menuOptionBean.childMenuOptions}>
                      	<li><a ng-click="go('${childMenuOption.redirectUrl}')">${childMenuOption.title}</a></li>
                      </sly>
                    </ul>
                  </li>
            </sly>
   	 	</sly>
     </ul>
</nav>












