<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	<p>Configure Header Site Logo component</p>
</sly>
<section class="header-component">
    <div class="mobile-nav">
    	<button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas"> <span class="hamb-top"></span> <span class="hamb-middle"></span> <span class="hamb-bottom"></span> </button>
    </div>
    <div class="logo">
    <sly data-sly-test="${properties.URL}">
		<a ng-click="go('${properties.URL}')" class="icon-epsilon-logo"></a>
    </sly>
    </div>
</section>