<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	<p>Configure Header Site Logo component</p>
</sly>
<section class="header-component" canvas="container">
	<div class="mobile-nav">
		<!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> -->
		<button type="button" class="navbar-toggle toggle-slidebar" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	    </button>
	</div>
	<div class="logo">
    <sly data-sly-test="${properties.URL}">
	    <sly data-sly-use.path="com.epsilonapp.core.models.LogoModel">
	          <sly data-sly-test="${properties.newWindow}"><a ng-click="go('${path.URLPath}')" target="_blank" class="icon-Epsilon-logo"></a></sly>
	          <sly data-sly-test="${!properties.newWindow}"><a ng-click="go('${path.URLPath}')" class="icon-Epsilon-logo"></a></sly>
	    </sly>
     </sly>
     </div>
</section>