@font-face {
	font-family: 'icomoon';
	src: url("../fonts/icomoon/icomoon.eot");
	src: url("../fonts/icomoon/icomoon.eot?d8yyw3#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
* {
	padding: 0px;
	margin: 0px;
}
.fluid{
	float: left;
	width: 100%;
}
@media (min-width: 1024px) {
.container {
	width: 100%;
	padding: 0px;
	position: relative;
}
.container.withpadd {
	padding-left: 80px;
}
}

@media screen and (min-width: 1920px) {
.container {
	width: 1920px;
}
}

@media (max-width: 1200px) {
.container {
	padding: 0px;
	position: relative;
	width: 100vw;
}
}
body {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	overflow-x: hidden;
}
@font-face {
	font-family: 'Vectora Roman';
	src: url("../fonts/VectoraLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/VectoraLTStd-Roman.woff") format("woff"), url("../fonts/VectoraLTStd-Roman.svg#VectoraLTStd-Roman") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Vectora Light';
	src: url("../fonts/VectoraLTStd-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/VectoraLTStd-Light.woff") format("woff"), url("../fonts/VectoraLTStd-Light.svg#VectoraLTStd-Light") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Vectora Bold';
	src: url("../fonts/VectoraLTStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/VectoraLTStd-Bold.woff") format("woff"), url("../fonts/VectoraLTStd-Bold.svg#VectoraLTStd-Bold") format("svg");
	font-weight: normal;
	font-style: normal;
}
.btn-shape {
	font-family: "Vectora bold", Arial, Helvetica, sans-serif;
	display: inline-block;
	border: solid 1px #fff;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	padding: 10px 45px;
}
.btn-shape:hover, .btn-shape:focus {
	color: #fff;
	text-decoration: none;
}
.btn-shape.whiteBg {
	background-color: rgba(255, 255, 255, 0.2);
}
.btn-shape.blackkBg {
	background-color: rgba(0, 0, 0, 0.2);
}
.custom-arrow-button {
	color: #000;
	display: inline-block;
	font-family: "Vectora bold", Arial, Helvetica, sans-serif;
	line-height: 27px;
	text-decoration: none;
}
.custom-arrow-button:focus, .custom-arrow-button:active, .custom-arrow-button:hover {
	text-decoration: none;
	color: #000;
}
.custom-arrow-button .icon-arrow {
	font-size: 25px;
	float: right;
	margin-left: 10px;
}
.custom-grey-button {
	border: solid 1px #7f7f7f;
	color: #000;
	display: inline-block;
	border-radius: 2px;
	font-size: 14px;
	padding: 10px 45px;
	text-decoration: none;
}
.custom-grey-button:focus, .custom-grey-button:active, .custom-grey-button:hover {
	text-decoration: none;
	color: #000;
}
.page-gradient {
	position: absolute;
	top: 0px;
	right: auto;
	bottom: 0px;
	left: -60px;
	z-index: 999;
	width: 150px;
	background: #fff;
}
