.navigation {
  padding: 0px;
  background: #fff;
  height: 100vh;
  -webkit-box-shadow: 10px 0 60px 0 rgba(0, 0, 0, 0.5) ;
  -moz-box-shadow: 10px 0 60px 0 rgba(0, 0, 0, 0.5) ;
  box-shadow: 10px 0 60px 0 rgba(0, 0, 0, 0.5) ; }
  .navigation.mobilePosition {
    width: 100vw;
    z-index: 5; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .navigation.mobilePosition {
        width: 600px; } }
  @media screen and (min-width: 1024px) {
    .navigation {
      position: fixed;
      z-index: 99; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .navigation {
      overflow: hidden; } }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .navigation {
      overflow: hidden; } }
  .navigation .mainNavigation {
    width: 80px;
    position: relative;
    height: 100vh; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .navigation .mainNavigation {
        width: 250px;
        position: relative; } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .navigation .mainNavigation {
        width: 250px;
        position: relative; } }
    .navigation .mainNavigation .mobile-search {
      padding: 10px;
      position: relative; }
      .navigation .mainNavigation .mobile-search:before {
        font-family: "icomoon";
        content: "\e9ef";
        position: absolute;
        top: 12px;
        right: auto;
        bottom: auto;
        left: 21px;
        font-size: 25px;
        font-weight: bold;
        color: #c5c3c7; }
      .navigation .mainNavigation .mobile-search input {
        height: 37px;
        border-radius: 5px;
        text-transform: uppercase;
        font-family: "Vectora bold", Arial, Helvetica, sans-serif;
        padding-left: 46px; }
        .navigation .mainNavigation .mobile-search input::-webkit-input-placeholder, .navigation .mainNavigation .mobile-search input::-moz-placeholder, .navigation .mainNavigation .mobile-search input:-ms-input-placeholder, .navigation .mainNavigation .mobile-search input:-moz-placeholder {
          color: #000; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .navigation .mainNavigation.mobileNav {
        width: 80px;
        padding-top: 15px; }
        .navigation .mainNavigation.mobileNav .mobile-search {
          display: none !important; } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .navigation .mainNavigation.mobileNav {
        width: 80px; } }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .navigation .mainNavigation.mobileNav > ul > li.search {
        display: block; } }
    .navigation .mainNavigation.mobileNav > ul > li > a {
      font-size: 10px; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .navigation .mainNavigation.mobileNav > ul > li > a {
          padding-top: 0px;
          text-align: center; }
          .navigation .mainNavigation.mobileNav > ul > li > a:after {
            display: none; } }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .navigation .mainNavigation.mobileNav > ul > li > a {
          text-align: center;
          padding: 12px 0 0px 0; } }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .navigation .mainNavigation.mobileNav > ul > li > a span {
          float: none;
          width: 30px;
          margin: auto !important;
          padding-bottom: 4px; } }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .navigation .mainNavigation.mobileNav > ul > li > a span {
          float: none;
          width: 30px;
          margin: auto !important; } }
    .navigation .mainNavigation > ul {
      list-style-type: none; }
      .navigation .mainNavigation > ul > li.extenal-link {
        background: #ebebeb; }
        .navigation .mainNavigation > ul > li.extenal-link a {
          padding-top: 10px;
          padding-bottom: 10px; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .navigation .mainNavigation > ul > li {
          padding-bottom: 15px; }
          .navigation .mainNavigation > ul > li.search {
            display: none; } }
      .navigation .mainNavigation > ul > li.theme-dExperience .innerWrapper h2 {
        margin-left: 0px;
        padding-bottom: 23px; }
        .navigation .mainNavigation > ul > li.theme-dExperience .innerWrapper h2.nav-title {
          border-bottom: solid 1px #f7a92b; }
        .navigation .mainNavigation > ul > li.theme-dExperience .innerWrapper h2 span {
          color: #f7a92b; }
      .navigation .mainNavigation > ul > li.theme-dExperience .innerWrapper .sub-header {
        clear: both; }
        .navigation .mainNavigation > ul > li.theme-dExperience .innerWrapper .sub-header h3 {
          color: #f7a92b !important;
          font-family: "Vectora bold", Arial, Helvetica, sans-serif;
          font-size: 11px;
          border-bottom: solid 1px #f7a92b !important;
          text-transform: uppercase;
          padding-bottom: 8px;
          margin-bottom: 20px; }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .navigation .mainNavigation > ul > li.theme-dExperience .innerWrapper .sub-header {
            padding: 0 20px; } }
      .navigation .mainNavigation > ul > li.theme-data .innerWrapper h2 {
        margin-left: 0px;
        padding-bottom: 23px; }
        .navigation .mainNavigation > ul > li.theme-data .innerWrapper h2.nav-title {
          border-bottom: solid 1px #349383; }
        .navigation .mainNavigation > ul > li.theme-data .innerWrapper h2 span {
          color: #349383; }
      .navigation .mainNavigation > ul > li.theme-data .innerWrapper .sub-header {
        clear: both; }
        .navigation .mainNavigation > ul > li.theme-data .innerWrapper .sub-header h3 {
          color: #349383 !important;
          font-family: "Vectora bold", Arial, Helvetica, sans-serif;
          font-size: 11px;
          border-bottom: solid 1px #349383 !important;
          text-transform: uppercase;
          padding-bottom: 8px;
          margin-bottom: 20px; }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .navigation .mainNavigation > ul > li.theme-data .innerWrapper .sub-header {
            padding: 0 20px; } }
      .navigation .mainNavigation > ul > li.theme-sConsulting .innerWrapper h2 {
        margin-left: 0px;
        padding-bottom: 23px; }
        .navigation .mainNavigation > ul > li.theme-sConsulting .innerWrapper h2.nav-title {
          border-bottom: solid 1px #f08c7c; }
        .navigation .mainNavigation > ul > li.theme-sConsulting .innerWrapper h2 span {
          color: #f08c7c; }
      .navigation .mainNavigation > ul > li.theme-sConsulting .innerWrapper .sub-header {
        clear: both; }
        .navigation .mainNavigation > ul > li.theme-sConsulting .innerWrapper .sub-header h3 {
          color: #f08c7c !important;
          font-family: "Vectora bold", Arial, Helvetica, sans-serif;
          font-size: 11px;
          border-bottom: solid 1px #f08c7c !important;
          text-transform: uppercase;
          padding-bottom: 8px;
          margin-bottom: 20px; }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .navigation .mainNavigation > ul > li.theme-sConsulting .innerWrapper .sub-header {
            padding: 0 20px; } }
      .navigation .mainNavigation > ul > li.theme-creative .innerWrapper h2 {
        margin-left: 0px;
        padding-bottom: 23px; }
        .navigation .mainNavigation > ul > li.theme-creative .innerWrapper h2.nav-title {
          border-bottom: solid 1px #885b6f; }
        .navigation .mainNavigation > ul > li.theme-creative .innerWrapper h2 span {
          color: #885b6f; }
      .navigation .mainNavigation > ul > li.theme-creative .innerWrapper .sub-header {
        clear: both; }
        .navigation .mainNavigation > ul > li.theme-creative .innerWrapper .sub-header h3 {
          color: #885b6f !important;
          font-family: "Vectora bold", Arial, Helvetica, sans-serif;
          font-size: 11px;
          border-bottom: solid 1px #885b6f !important;
          text-transform: uppercase;
          padding-bottom: 8px;
          margin-bottom: 20px; }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .navigation .mainNavigation > ul > li.theme-creative .innerWrapper .sub-header {
            padding: 0 20px; } }
      .navigation .mainNavigation > ul > li.theme-cInsights .innerWrapper h2 {
        margin-left: 0px;
        padding-bottom: 23px; }
        .navigation .mainNavigation > ul > li.theme-cInsights .innerWrapper h2.nav-title {
          border-bottom: solid 1px #464857; }
        .navigation .mainNavigation > ul > li.theme-cInsights .innerWrapper h2 span {
          color: #464857; }
      .navigation .mainNavigation > ul > li.theme-cInsights .innerWrapper .sub-header {
        clear: both; }
        .navigation .mainNavigation > ul > li.theme-cInsights .innerWrapper .sub-header h3 {
          color: #464857 !important;
          font-family: "Vectora bold", Arial, Helvetica, sans-serif;
          font-size: 11px;
          border-bottom: solid 1px #464857 !important;
          text-transform: uppercase;
          padding-bottom: 8px;
          margin-bottom: 20px; }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .navigation .mainNavigation > ul > li.theme-cInsights .innerWrapper .sub-header {
            padding: 0 20px; } }
      .navigation .mainNavigation > ul > li.theme-pDelivery .innerWrapper h2 {
        margin-left: 0px;
        padding-bottom: 23px; }
        .navigation .mainNavigation > ul > li.theme-pDelivery .innerWrapper h2.nav-title {
          border-bottom: solid 1px #676a59; }
        .navigation .mainNavigation > ul > li.theme-pDelivery .innerWrapper h2 span {
          color: #676a59; }
      .navigation .mainNavigation > ul > li.theme-pDelivery .innerWrapper .sub-header {
        clear: both; }
        .navigation .mainNavigation > ul > li.theme-pDelivery .innerWrapper .sub-header h3 {
          color: #676a59 !important;
          font-family: "Vectora bold", Arial, Helvetica, sans-serif;
          font-size: 11px;
          border-bottom: solid 1px #676a59 !important;
          text-transform: uppercase;
          padding-bottom: 8px;
          margin-bottom: 20px; }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .navigation .mainNavigation > ul > li.theme-pDelivery .innerWrapper .sub-header {
            padding: 0 20px; } }
      .navigation .mainNavigation > ul > li.theme-loyalty .innerWrapper h2 {
        margin-left: 0px;
        padding-bottom: 23px; }
        .navigation .mainNavigation > ul > li.theme-loyalty .innerWrapper h2.nav-title {
          border-bottom: solid 1px #1c75ad; }
        .navigation .mainNavigation > ul > li.theme-loyalty .innerWrapper h2 span {
          color: #1c75ad; }
      .navigation .mainNavigation > ul > li.theme-loyalty .innerWrapper .sub-header {
        clear: both; }
        .navigation .mainNavigation > ul > li.theme-loyalty .innerWrapper .sub-header h3 {
          color: #1c75ad !important;
          font-family: "Vectora bold", Arial, Helvetica, sans-serif;
          font-size: 11px;
          border-bottom: solid 1px #1c75ad !important;
          text-transform: uppercase;
          padding-bottom: 8px;
          margin-bottom: 20px; }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .navigation .mainNavigation > ul > li.theme-loyalty .innerWrapper .sub-header {
            padding: 0 20px; } }
      .navigation .mainNavigation > ul > li.theme-dMessaging .innerWrapper h2 {
        margin-left: 0px;
        padding-bottom: 23px; }
        .navigation .mainNavigation > ul > li.theme-dMessaging .innerWrapper h2.nav-title {
          border-bottom: solid 1px #ad0f04; }
        .navigation .mainNavigation > ul > li.theme-dMessaging .innerWrapper h2 span {
          color: #ad0f04; }
      .navigation .mainNavigation > ul > li.theme-dMessaging .innerWrapper .sub-header {
        clear: both; }
        .navigation .mainNavigation > ul > li.theme-dMessaging .innerWrapper .sub-header h3 {
          color: #ad0f04 !important;
          font-family: "Vectora bold", Arial, Helvetica, sans-serif;
          font-size: 11px;
          border-bottom: solid 1px #ad0f04 !important;
          text-transform: uppercase;
          padding-bottom: 8px;
          margin-bottom: 20px; }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .navigation .mainNavigation > ul > li.theme-dMessaging .innerWrapper .sub-header {
            padding: 0 20px; } }
      .navigation .mainNavigation > ul > li.theme-mChannels .innerWrapper h2 {
        margin-left: 0px;
        padding-bottom: 23px; }
        .navigation .mainNavigation > ul > li.theme-mChannels .innerWrapper h2.nav-title {
          border-bottom: solid 1px #bd9550; }
        .navigation .mainNavigation > ul > li.theme-mChannels .innerWrapper h2 span {
          color: #bd9550; }
      .navigation .mainNavigation > ul > li.theme-mChannels .innerWrapper .sub-header {
        clear: both; }
        .navigation .mainNavigation > ul > li.theme-mChannels .innerWrapper .sub-header h3 {
          color: #bd9550 !important;
          font-family: "Vectora bold", Arial, Helvetica, sans-serif;
          font-size: 11px;
          border-bottom: solid 1px #bd9550 !important;
          text-transform: uppercase;
          padding-bottom: 8px;
          margin-bottom: 20px; }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .navigation .mainNavigation > ul > li.theme-mChannels .innerWrapper .sub-header {
            padding: 0 20px; } }
      .navigation .mainNavigation > ul > li.search .subItem {
        padding-left: 0px;
        padding-top: 10px; }
        .navigation .mainNavigation > ul > li.search .subItem .innerWrapper {
          padding-right: 0px;
          width: 100%; }
          .navigation .mainNavigation > ul > li.search .subItem .innerWrapper h2 {
            border-bottom: none !important;
            margin-left: 30px; }
            .navigation .mainNavigation > ul > li.search .subItem .innerWrapper h2 span {
              font-weight: bold;
              color: #000; }
      .navigation .mainNavigation > ul > li.contact .subItem .innerWrapper h2 {
        margin-bottom: 0px;
        padding-bottom: 0px; }
      .navigation .mainNavigation > ul > li.one-column .subItem .innerWrapper .details {
        width: 100%; }
      .navigation .mainNavigation > ul > li > a {
        font-family: "Vectora bold", Arial, Helvetica, sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        display: block;
        font-size: 10px;
        text-decoration: none;
        text-transform: uppercase;
        color: #000; }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .navigation .mainNavigation > ul > li > a {
            text-align: left;
            line-height: 26px;
            position: relative;
            font-size: 14px; }
            .navigation .mainNavigation > ul > li > a:after {
              font-family: "icomoon";
              content: "\e95f";
              position: absolute;
              top: 16px;
              right: 5px;
              bottom: auto;
              left: auto;
              font-size: 16px; } }
        @media screen and (min-width: 768px) and (max-width: 991px) {
          .navigation .mainNavigation > ul > li > a {
            text-align: left;
            line-height: 26px;
            font-size: 14px; } }
        .navigation .mainNavigation > ul > li > a span {
          display: block;
          font-size: 23px;
          color: #c5c3c7;
          padding-bottom: 8px; }
          @media screen and (min-width: 320px) and (max-width: 767px) {
            .navigation .mainNavigation > ul > li > a span {
              float: left;
              margin: 0 15px;
              width: 30px; } }
          @media screen and (min-width: 768px) and (max-width: 991px) {
            .navigation .mainNavigation > ul > li > a span {
              float: left;
              margin: 0 15px;
              width: 30px; } }
          .navigation .mainNavigation > ul > li > a span.icon-search3 {
            font-weight: bold;
            font-size: 25px; }
        .navigation .mainNavigation > ul > li > a:hover {
          background: #000;
          color: #fff; }
      .navigation .mainNavigation > ul > li .subItem {
        font-family: "Vectora Light", Arial, Helvetica, sans-serif;
        opacity: 0;
        transition: opacity .5s linear;
        position: absolute;
        top: 0px;
        right: auto;
        bottom: 0px;
        left: -600px;
        width: 600px;
        padding: 30px;
        background: #fff;
        padding-top: 10px; }
        .navigation .mainNavigation > ul > li .subItem h2 {
          font-family: "Vectora bold", Arial, Helvetica, sans-serif;
          font-size: 20px;
          margin: 0px;
          margin-bottom: 23px; }
          .navigation .mainNavigation > ul > li .subItem h2 a {
            color: #000;
            text-decoration: none; }
          .navigation .mainNavigation > ul > li .subItem h2.nav-title {
            padding-bottom: 23px;
            border-bottom: solid 1px #1d70b4; }
          .navigation .mainNavigation > ul > li .subItem h2 span {
            color: #1d70b4;
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
            float: left;
            margin-right: 10px; }
          @media screen and (min-width: 320px) and (max-width: 767px) {
            .navigation .mainNavigation > ul > li .subItem h2 {
              padding: 0 20px; } }
        .navigation .mainNavigation > ul > li .subItem .sub-header {
          clear: both; }
          .navigation .mainNavigation > ul > li .subItem .sub-header h3 {
            color: #1d70b4;
            font-family: "Vectora bold", Arial, Helvetica, sans-serif;
            font-size: 11px;
            border-bottom: solid 1px #1d70b4;
            text-transform: uppercase;
            padding-bottom: 8px;
            margin-bottom: 20px; }
          @media screen and (min-width: 320px) and (max-width: 767px) {
            .navigation .mainNavigation > ul > li .subItem .sub-header {
              padding: 0 20px; } }
        .navigation .mainNavigation > ul > li .subItem .details {
          padding-left: 0px; }
          @media screen and (min-width: 320px) and (max-width: 767px) {
            .navigation .mainNavigation > ul > li .subItem .details {
              padding-right: 0px; } }
        .navigation .mainNavigation > ul > li .subItem .two-level > li {
          float: left;
          list-style-type: none;
          padding: 0 0 35px 0;
          font-family: "Vectora bold", Arial, Helvetica, sans-serif;
          width: 100%; }
          @media screen and (min-width: 320px) and (max-width: 767px) {
            .navigation .mainNavigation > ul > li .subItem .two-level > li {
              position: relative;
              padding: 0 20px 10px 20px;
              margin: 0 0 10px 0; }
              .navigation .mainNavigation > ul > li .subItem .two-level > li.expand {
                background: #e1e1e1;
                padding-top: 20px;
                -moz-transition-duration: 0.3s;
                -webkit-transition-duration: 0.3s;
                -o-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -moz-transition-timing-function: ease-in;
                -webkit-transition-timing-function: ease-in;
                -o-transition-timing-function: ease-in;
                transition-timing-function: ease-in;
                max-height: 1000px; }
                .navigation .mainNavigation > ul > li .subItem .two-level > li.expand .child-items {
                  display: block; } }
    @media screen and (min-width: 320px) and (max-width: 767px) and (min-width: 320px) and (max-width: 767px) {
      .navigation .mainNavigation > ul > li .subItem .two-level > li.expand > a:after {
        font-family: "icomoon";
        content: "\e948";
        width: 25px;
        text-align: center;
        border-radius: 50px;
        height: 25px;
        line-height: 25px;
        background: #ffffff;
        top: -4px;
        right: -6px; } }
          .navigation .mainNavigation > ul > li .subItem .two-level > li > a {
            color: #000;
            text-decoration: none;
            font-size: 15px;
            display: block; }
            @media screen and (min-width: 320px) and (max-width: 767px) {
              .navigation .mainNavigation > ul > li .subItem .two-level > li > a {
                position: relative; } }
            .navigation .mainNavigation > ul > li .subItem .two-level > li > a span {
              display: inline;
              font-size: 25px;
              float: left;
              color: #bcbcbe;
              margin-right: 15px; }
              @media screen and (min-width: 320px) and (max-width: 767px) {
                .navigation .mainNavigation > ul > li .subItem .two-level > li > a span {
                  display: none; } }
            @media screen and (min-width: 320px) and (max-width: 767px) {
              .navigation .mainNavigation > ul > li .subItem .two-level > li > a:after {
                font-family: "icomoon";
                content: "\e95f";
                position: absolute;
                top: auto;
                right: 0px;
                bottom: auto;
                left: auto;
                z-index: 999;
                color: #000; } }
          .navigation .mainNavigation > ul > li .subItem .two-level > li .child-items {
            list-style-type: none;
            float: left;
            clear: both;
            width: 90%; }
            @media screen and (min-width: 768px) and (max-width: 991px) {
              .navigation .mainNavigation > ul > li .subItem .two-level > li .child-items {
                display: none; } }
            @media screen and (min-width: 320px) and (max-width: 767px) {
              .navigation .mainNavigation > ul > li .subItem .two-level > li .child-items {
                display: none; } }
            .navigation .mainNavigation > ul > li .subItem .two-level > li .child-items li {
              font-size: 13px;
              font-family: "Vectora Roman", Arial, Helvetica, sans-serif;
              text-align: left; }
              .navigation .mainNavigation > ul > li .subItem .two-level > li .child-items li a {
                display: block;
                color: #000;
                padding: 6px 0;
                font-weight: bold;
                padding-left: 40px; }
                @media screen and (min-width: 320px) and (max-width: 767px) {
                  .navigation .mainNavigation > ul > li .subItem .two-level > li .child-items li a {
                    padding-left: 0px; } }
                .navigation .mainNavigation > ul > li .subItem .two-level > li .child-items li a:hover {
                  background: #000;
                  color: #fff;
                  text-decoration: none; }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .navigation .mainNavigation > ul > li .subItem {
            transition: opacity .1s linear;
            left: 320px;
            width: 240px;
            padding: 0px; } }
        @media screen and (min-width: 768px) and (max-width: 991px) {
          .navigation .mainNavigation > ul > li .subItem {
            transition: opacity .1s linear;
            left: 320px;
            width: 530px;
            padding: 25px; } }
        .navigation .mainNavigation > ul > li .subItem .innerWrapper {
          overflow: auto;
          position: absolute;
          top: 30px;
          right: auto;
          bottom: 30px;
          left: auto;
          padding-right: 30px;
          top: 20px;
          width: 95%; }
          @media screen and (min-width: 320px) and (max-width: 767px) {
            .navigation .mainNavigation > ul > li .subItem .innerWrapper {
              padding-right: 0px; } }
          .navigation .mainNavigation > ul > li .subItem .innerWrapper .view-all-contact {
            padding-left: 0px;
            clear: both; }
            .navigation .mainNavigation > ul > li .subItem .innerWrapper .view-all-contact a {
              display: inline-block; }
              .navigation .mainNavigation > ul > li .subItem .innerWrapper .view-all-contact a span {
                float: none;
                display: inline-block;
                float: right;
                margin-left: 10px;
                margin-top: -3px;
                color: #000; }
          .navigation .mainNavigation > ul > li .subItem .innerWrapper .search-flyout {
            background: #a7a6ab;
            padding: 10px;
            padding-left: 0px; }
            .navigation .mainNavigation > ul > li .subItem .innerWrapper .search-flyout .searchinput {
              padding: 0px;
              background: #fff; }
              .navigation .mainNavigation > ul > li .subItem .innerWrapper .search-flyout .searchinput input {
                height: 45px;
                border: none;
                border-radius: 0px;
                padding-left: 60px; }
            .navigation .mainNavigation > ul > li .subItem .innerWrapper .search-flyout .searchbtn {
              padding: 0px;
              background: #000; }
              .navigation .mainNavigation > ul > li .subItem .innerWrapper .search-flyout .searchbtn button {
                font-family: "Vectora Roman", Arial, Helvetica, sans-serif;
                color: #fff;
                height: 45px;
                background: #000;
                border-radius: 0px;
                width: 100%;
                font-weight: bold; }
      .navigation .mainNavigation > ul > li.active .subItem {
        opacity: 1;
        transition: opacity .5s linear;
        left: 100%;
        -webkit-transition: -webkit-transform 0.4s ease;
        transition: transform 0.4s ease; }
        .navigation .mainNavigation > ul > li.active .subItem:before {
          content: "";
          -webkit-box-shadow: 10px 0 60px 0 rgba(0, 0, 0, 0.3) ;
          -moz-box-shadow: 10px 0 60px 0 rgba(0, 0, 0, 0.3) ;
          box-shadow: 10px 0 60px 0 rgba(0, 0, 0, 0.3) ;
          position: absolute;
          top: 0px;
          right: auto;
          bottom: 0px;
          left: -90px;
          z-index: 5;
          width: 90px;
          pointer-events: none; }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .navigation .mainNavigation > ul > li.active .subItem {
            transition: opacity .1s linear; } }
      .navigation .mainNavigation > ul > li.active .closebtn {
        display: block; }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .navigation .mainNavigation > ul > li.active .closebtn {
            height: 57px;
            line-height: 57px; } }
        .navigation .mainNavigation > ul > li.active .closebtn:after {
          font-family: "icomoon";
          content: "\ea1c";
          position: absolute;
          top: auto;
          right: -24px;
          bottom: auto;
          left: auto;
          z-index: 999;
          color: #000; }
          @media screen and (min-width: 320px) and (max-width: 767px) {
            .navigation .mainNavigation > ul > li.active .closebtn:after {
              right: -20px; } }
      .navigation .mainNavigation > ul > li .closebtn {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: 99;
        background: #000;
        width: 100%;
        height: 65px;
        display: none;
        color: #fff;
        line-height: 65px;
        text-align: center;
        font-size: 30px;
        cursor: pointer; }
