.image-component.center-align {
  text-align: center; }

.image-component .c-img img {
  display: inline-block; }

.image-component .img-desc {
  font-family: "Vectora Roman", Arial, Helvetica, sans-serif;
  margin-top: 30px;
  border: solid 1px #959595;
  padding: 20px;
  text-align: left;
  color: #666666;
  display: inline-block; }
  .image-component .img-desc p {
    font-size: 14px; }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .image-component .img-desc {
      border: none;
      border-top: solid 1px #959595; } }
